.app__moviesSection {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  background-image: url("../../assets/images/NetflixWitcher.jpg");
  background-size: 140vw;
  padding: 1rem 10rem;
  align-items: center;
  flex-direction: column;
}

.app__movies-section {
  padding: 30px 30px;
  border-radius: 10px;
  background-color: rgba(61, 61, 61, 0.827);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.app__moviesSection-found {
  width: 75vw;
  display: flex;
  justify-content: space-between;
}

.app__dynamicSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__dynamicSearch input {
  border-radius: 10px 0px 0px 10px;
}

.adv__search {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  font-size: 18px;
  color: goldenrod;
  background-color: rgba(61, 61, 61, 0.827);
  border-radius: 0px 10px 10px 0px;
}
