.app__home {
  background-image: url("../../assets/images/NetflixWitcher.jpg");
  background-size: 100vw;
  min-height: 80.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app__home-header {
  width: 600px;
  margin-top: 100px;
  color: whitesmoke;
  text-align: center;
  border-bottom: 5px solid whitesmoke;
  border-top: 5px solid whitesmoke;
}


.app__home h2 {
  color: black;
  text-align: center;
  text-transform: uppercase;
}