.app__formInput {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  
  .app__formInput input{
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #ffff;
    transition: 0.5s;
  }
  
  
  .app__formInput label{
    font-size: 12px;
    color: #ffff;
  }
  
  .app__formInput span{
    font-size: 10px;
    letter-spacing: 0.03rem;
    padding: 3px;
    color: #db0000;
    opacity: 0;
  }
  
  .app__formInput input:invalid[data-focused="true"]{
    border: 1px solid #db0000;
  }
  
  .app__formInput input:invalid[data-focused="true"] ~ span{
    opacity: 100%;
  }
  
  .app__formInput input:focus {
    outline: none;
  }
  
  .app__formInput input:hover {
    background-color: #ffff;
  }
  