.app__footer {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app__footer__list {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
