.app__moviesSection-hint {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(61, 61, 61, 0.827);
  padding: 30px 60px;
  margin: 1rem;
  border-radius: 10px;
}

.app__movies-section {
  padding: 30px 30px;
  border-radius: 10px;
  background-color: rgba(61, 61, 61, 0.827);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}